{% extends 'pragmatechapp/base.html' %}
{% block content %}
<div class="site-wrapper-reveal">
    {% load static %}

    <div class="apply-overlay">
        <div class="overlay-header">
            <i class="fas fa-times close-btn"></i>
        </div>
        <div class="apply-modal">
            <div class="business-solution-form-wrap ml-auto">
                <div class="contact-title text-center section-space--mb_40">
                    <h5 class="mb-10">Müraciət et</h5>
                    <!-- <p class="text">Müracət üçün qeydiyyatdan keç!</p> -->
                </div>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <div class="contact-form__two">
                        <div class="contact-inner">
                            <input name="name" type="text" placeholder="Ad *">
                        </div>
                        <div class="contact-inner">
                            <input name="email" type="email" placeholder="Email *">
                        </div>
                        <div class="contact-inner">
                            <input name="number" type="text" placeholder="Əlaqə nömrəsi *">
                        </div>
                        <div class="comment-submit-btn text-center">
                            <button class="ht-btn ht-btn-md send-btn" type="submit">Göndər</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="about-banner-wrap banner-space bg-img" data-bg="{% static 'assets/images/bg/about.jpg' %}">
        <div class=" container">
            {% load static %}
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="about-banner-content text-center">
                        <h1 class="mb-15 text-white">Pragmatech</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-large-images-wrapper section-space--ptb_100">
        {% load static %}
        <div class="container">
            <div class="cybersecurity-about-box">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="modern-number-01">
                            <h3 class="heading">Pragmatech Təhsil və İnkişaf Mərkəzi</h3>
                        </div>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <div class="conact-us-wrap-one managed-it">
                            <h5 class="heading ">Hədəfimiz tələbələrin təhsilə qoyduqları investisiyanı qısa müddətdə
                                geri qazanma və birbaşa iş dünyasına hazır kadr halında məzun olmalarını təmin etməkdir.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="accordion-wrapper section-space--pb_100">
        {% load static %}
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 pr-5">
                    <div class="faq-two-wrapper section-space--mt_40">
                        <div id="accordion_two">
                            <div class="card">
                                <div class="card-header" id="heading__10">
                                    <h5 class="mb-0 font-weight--bold">
                                        <button class="btn-link" data-toggle="collapse" data-target="#tab__10"
                                            aria-expanded="true" aria-controls="tab__10">Praqmatik təhsil modeli
                                            nədir?<span>
                                                <i class="far fa-caret-circle-down"></i>
                                                <i class="far fa-caret-circle-right"></i> </span>
                                        </button>
                                    </h5>
                                </div>

                                <div id="tab__10" class="show" aria-labelledby="heading__10"
                                    data-parent="#accordion_two">
                                    <div class="card-body">
                                        <p>Pragmatech Təhsil və İnkişaf mərkəzi praqmatik təhsil modelinə əsaslanan
                                            tədris
                                            şirkətidir. Praqmatik təhsil modeli nədir? Bu model təhsilin birbaşa iş
                                            dünyası
                                            ilə inteqrasiasını təmin edərək tələbələrin öyrənmə sürətlərini
                                            artırılmasını
                                            hədəfləyən təhsil modelidir.
                                            Hədəfimiz tələbələrin təhsilə qoyduqları investisiyanı qısa müddətdə geri
                                            qazanma və birbaşa iş dünyasına hazır kadr halında məzun olmalarını təmin
                                            etməkdir.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading__11">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse__11" aria-expanded="false"
                                            aria-controls="collapse__11">
                                            Pragmatech bu modeli necə tətbiq edir?<span>
                                                <i class="far fa-caret-circle-down"></i>
                                                <i class="far fa-caret-circle-right"></i> </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse__11" class="collapse" aria-labelledby="heading__11"
                                    data-parent="#accordion_two">
                                    <div class="card-body">
                                        <p>Şirkət daxilində fəaliyyət göstərən proqramçı komandası pragmatechdə təhsil
                                            alan tələbələrlə birəbir ünsiyyətdədir. Tələbələr komandalara ayrılır və hər
                                            komanda bir pragmatech proqramçısı tərəfindən idarə olunur. Komandadakı
                                            tələbələr komanda rəhbərinin nəzarətində olan proyekt üzərində tapşırıq
                                            yerinə yetirmək məsuliyyəti daşıyır. Tələbələr komanda rəhbəri tərəfindən
                                            təsdiq olunan tapşırıqlara əsasən ödəmə alırlar. Bu tələbənin biraşa iş
                                            məsuliyyətinin artırılmasına və öyrəndiyi texnologiyaları faydalı şəkildə
                                            tətbiq etməsinə imkan yaradır. Real təcrubəyə əsaslanaraq demək olar ki, bu
                                            üslubda öyrənmə ənənəvi öyrənə metodundan dəfələrlə sürətli və effektiv baş
                                            verir. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading__12">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse__12" aria-expanded="false"
                                            aria-controls="collapse__12">
                                            Sistemin dayanıqlılığı necə təmin olunur?<span>
                                                <i class="far fa-caret-circle-down"></i>
                                                <i class="far fa-caret-circle-right"></i> </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse__12" class="collapse" aria-labelledby="heading__12"
                                    data-parent="#accordion_two">
                                    <div class="card-body">
                                        <p>Tələbə dərs aldığı müəllimdən texnologiyanın daha çox teorik tərəfini,
                                            proqramçı komandasından isə praktiki tərəfini mənimsəyir.

                                            Bundan əlavə pragmatech təhsil planlarını modular sistemlə həyata keçirir.
                                            Hər tələbə hər modulun sonunda o modulda tələb olunan texniki biliklərini
                                            həm teorik həm də praktik olaraq mənimsədiyini isbat etməlidir. Əks halda
                                            növbəti moduldan faydalanmasına icazə verilmir.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading__13">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse__13" aria-expanded="false"
                                            aria-controls="collapse__13">
                                            Fərqimiz nədədir?<span>
                                                <i class="far fa-caret-circle-down"></i>
                                                <i class="far fa-caret-circle-right"></i> </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse__13" class="collapse" aria-labelledby="heading__13"
                                    data-parent="#accordion_two">
                                    <div class="card-body">
                                        <p>Təhsil bir investisyadır Pragmatech tələbənin qoyduğu investisiyanı təhsil
                                            şərtlərinə uyğun davam etdiyi halda geri qazanma zəmanəti verir. Bu
                                            tələbənin həyat hədəflərindən asılı olaraq birbaşa maddi zəmanət və ya iş
                                            zəmanətidir. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- Start single-popup-wrap -->
                    <div class="video-interview section-space--mt_40">
                        <div class="single-popup-wrap">
                            <img class="img-fluid border-radus-5" src="{% static 'assets/images/bg/about-bg.jpg' %}"
                                alt="">
                        </div>
                    </div>
                    <!-- End single-popup-wrap -->
                </div>

                <div class="col-lg-12">
                    <div class="feature-list-button-box mt-30 text-center">
                        <button class="ht-btn ht-btn-md apply-btn">İndi müraciət et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}