{% extends 'pragmatechapp/base.html' %}
{% block content %}
<div class="site-wrapper-reveal">
    {% load static %}
    <div class="about-banner-wrap banner-space bg-img" data-bg="{% static 'assets/images/bg/about.jpg' %}">
        <div class="container">
            {% load static %}
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="about-banner-content text-center">
                        <h1 class="mb-15 text-white">Bizimlə əlaqə</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="contact">
        <div class="contact-us-section-wrappaer section-space--pt_100 section-space--pb_70">
            <div class="container">
                {% load static %}
                <div class="row align-items-center">
                    <div class="col-lg-6 col-lg-6">
                        <div class="conact-us-wrap-one mb-30">
                            <h3 class="heading"><span class="text-color-primary">Pragmatech</span> sual və
                                təkliflərinizə hər zaman açıqdır </h3>
                        </div>
                    </div>

                    <div class="col-lg-6 col-lg-6">
                        <div class="contact-form-wrap">

                            <form id="contact-form" action="{% url 'contact' %}" method="post">
                                {% csrf_token %}
                                <div class="contact-form">
                                    <div class="contact-input">
                                        <div class="contact-inner">
                                            <input name="sender_name" type="text" placeholder="Adınız *" required minlength="3" 
                                            oninvalid="this.setCustomValidity('Adınız minimum 3 hərfdən ibarət ola bilər.')"
                                            oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="contact-inner">
                                            <input name="sender_email" type="email" placeholder="Email *" required minlength="10"
                                            oninvalid="this.setCustomValidity('Elektron poçt ünvanınızı düzgün daxil edin.')"
                                            oninput="this.setCustomValidity('')">
                                        </div>
                                    </div>
                                    <div class="contact-inner">
                                        <input name="message_subject" type="text" placeholder="Mövzu" required minlength="5"
                                        oninvalid="this.setCustomValidity('Mesajın mövzusunu daxil edin.')"
                                        oninput="this.setCustomValidity('')">
                                    </div>
                                    <div class="contact-inner contact-message">
                                        <textarea name="message_content" placeholder="Mesajınız..." required minlength="10"
                                        oninvalid="this.setCustomValidity('Mesajınızı daxil edin.')"
                                        oninput="this.setCustomValidity('')"></textarea>
                                    </div>
                                    <div class="submit-btn mt-20">
                                        <button class="ht-btn ht-btn-md" type="submit">Göndər</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}