{% extends 'pragmatechapp/base.html' %}
{% block content %}
<div class="site-wrapper-reveal">
    <!--============ Appointment Hero Start ============-->
    <div class="appointment-hero-wrapper appointment-hero-bg section-space--ptb_120">
        {% load static %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="appointment-hero-wrap wow move-up">
                        <div class="appointment-hero-text">
                            <div class="main-description">Təhsil və İnkişaf Mərkəzi </div>
                            <h1 class="font-weight--reguler text-white mb-30">Pragmatech</h1>
                            <!-- <div class="hero-button">
                                <div class="video-popup infotech-video-box">
                                    <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="single-popup-wrap video-link">
                                        <div class="video-content">
                                            <div class="ht-popup-video video-button">
                                                <div class="video-mark">
                                                    <div class="wave-pulse wave-pulse-1"></div>
                                                    <div class="wave-pulse wave-pulse-2"></div>
                                                </div>
                                                <div class="video-button__two">
                                                    <div class="video-play">
                                                        <span class="video-play-icon"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="video-text">
                                                Tanıtım videosunu izlə
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 ml-auto col-md-6">
                    <div class="business-solution-form-wrap ml-auto">
                        <div class="contact-title text-center section-space--mb_40">
                            <h5 class="mb-10">Müraciət et</h5>
                            <!-- <p class="text">Müracət üçün qeydiyyatdan keç!</p> -->
                        </div>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="contact-form__two">
                                <div class="contact-inner">
                                    <input name="name" type="text" placeholder="Ad *" 
                                    name="name" required minlength="3" 
                                    oninvalid="this.setCustomValidity('Adınız minimum 3 hərfdən ibarət ola bilər.')"
                                    oninput="this.setCustomValidity('')">
                                </div>
                                <div class="contact-inner">
                                    <input name="email" type="email" placeholder="Email *"
                                    required minlength="10"
                                    oninvalid="this.setCustomValidity('Elektron poçt ünvanınızı düzgün daxil edin.')"
                                    oninput="this.setCustomValidity('')">
                                </div>
                                <div class="contact-inner">
                                    <input name="phone" type="text" placeholder="Əlaqə nömrəsi *" name="phone" required minlength="10"
                                    oninvalid="this.setCustomValidity('Telefon nömrənizi düzgün daxil edin.')"
                                    oninput="this.setCustomValidity('')" >
                                </div>
                                <div class="comment-submit-btn text-center">
                                    <input class="ht-btn ht-btn-md" type="submit" value="Göndər">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="feature-icon-wrapper section-space--ptb_100">
        <div class="container">
            {% load static %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center section-space--mb_40">
                        <h3 class="heading">Üstünlüklər</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% load static %}
                <div class="col-12">
                    <div class="feature-list__two">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-1">
                                                <img src="{% static 'assets/images/svg/linea-basic-heart.svg' %}" alt=""> 
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">İş və maddi gəlir əldə etmə zəmanəti</h5>
                                            <div class="text">Aktiv təhsil planlarından hər hansı birini uğurla başa vuran bütün tələbələrimizə işlə təmin olunma və ya tədris müddətində ödədiyi məbləği mərkəz tərəfindən veriləcək olan işləri yerinə yetirməklə geri qazanma
                                                 zəmanəti verilir.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <!-- ht-box-icon Start -->
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-1">
                                                <img src="{% static 'assets/images/svg/linea-basic-alarm.svg' %}" alt=""> 
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Pragmatik təhsil modeli</h5>
                                            <div class="text">
                                                Tələbərimiz tədris zamanı birbaşa iş dünyasında tələb olunan problemlərin həlli üzərində işləyərək öyrənəcəklər. 
                                                Bu model sayəsində tələbələrimiz şirkətlərdə təcrübəçi olaraq deyil birbaşa təcrübəli əməkdaş olabilmək kimi 
                                                ciddi üstünlük əldə edəcəklər.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <!-- ht-box-icon Start -->
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-1">
                                                <img src="{% static 'assets/images/svg/linea-basic-spread-text-bookmark.svg' %}" alt=""> 
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">İş dünyasına yaxınlıq</h5>
                                            <div class="text">
                                                Mərkəzimizdə mütəmadi olaraq yerli IT şirkətlərinin təqdimatları və şirkət əməkdaşları ilə görüşlər keçiriləcək.Bu sayədə tələbələrimiz gələcəkdəki iş 
                                                mühitləri və əməkdaşları ilə birbaşa ünsiyyətdə olma və onların təcrübələrindən faydalanma şansı əldə
                                                edəcəklər.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-1">
                                                <img src="{% static 'assets/images/svg/linea-basic-case.svg' %}" alt=""> 
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Həftəlik əlavə təlimlər</h5>
                                            <div class="text">Tələbələrimizə əlavə xüsusiyyət və qabiliyyətlər qazandırmaq məqsədi ilə hər həftənin şənbə günü sektorda təcrübəsi olan insanların 
                                                iştirakı ilə seminar, workshop və ya əlavə təlimlər təşkil olunacaq.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <!-- ht-box-icon Start -->
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-1">
                                                <img src="{% static 'assets/images/svg/linea-basic-geolocalize-05.svg' %}" alt=""> 
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">7/24 fəaliyyət göstərən mərkəz</h5>
                                            <div class="text">
                                                Tələbələrimiz zaman məhdudiyyəti olmadan mərkəzimizdən istifadə edə biləcəklər. Rahat və əyləncəli mühitdə təhsil keyfiyyətlərini artırmaq çox daha asan olacaq.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <!-- ht-box-icon Start -->
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-1">
                                                <img src="{% static 'assets/images/svg/linea-ecommerce-money.svg' %}" alt=""> 
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Dəstək komandası</h5>
                                            <div class="text">
                                                Mərkəzimizdə fəaliyyət göstərən proqramçı komandası hər zaman tələbələrimizin problemlərinin aradan qaldırılması üçün onlara komanda rəhbərliyi edəcəklər.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="feature-list-button-box mt-30 text-center">
                        <a href="#" class="ht-btn ht-btn-md">İndi müraciət et</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===========  feature-icon-wrapper  End =============-->
</div>

<div class="carousel-sliders-wrapper section-space--ptb_100">
    <div class="container">
        {% load static %}
        <div class="package">
            <h3>Tədris paketləri</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container carousel-slider__container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="carousel-slider wow move-up">
                                <div class="carousel-slider__content text-center">
                                    <img src="{% static 'assets/images/timeline/foundation.png' %}">
                                    <div class="pricing-table__price-wrap">
                                        <p>Foundation</p>
                                    </div>
                                    <div class="text">
                                        Harvard Universitetinin CS50 kurrikulumu əsasında hazırlanmış tədris metodudur. Bu tədris modulu daxilində tələbələr böyük problərin alqoritmlər vasitəsilə 
                                        asanlıqla həll oluna biləcəyini, proqramlaşdırmanın ümumi fəlsəfəsini və proqramların arxa planda
                                        necə işlədiyini çox əyləncəli tətbiqlər vasitəsilə öyrənəcəklər.
                                    </div>
                                    <div class="pricing-table__footer">
                                        <a href="/foundation" class="ht-btn ht-btn-default btn--secondary">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel-slider wow move-up">
                                <div class="carousel-slider__content text-center">
                                    <img src="{% static 'assets/images/timeline/html5-2.png' %}">
                                    <div class="pricing-table__price-wrap">
                                        <p>HTML & CSS</p>
                                    </div>
                                    <div class="text">
                                        Verilən dizaynı çox sürətli şəkildə HTML formatına çevirə bilmək üçün tələb olunan bütün HTML və CSS funksionallığı ilə yanaşı tələbələrə kod yazma 
                                        sürətlərini artıra biləcək əlavə konsepsiyalar, framework-lər və kodlama üslubları öyrədilir.
                                    </div>
                                    <div class="pricing-table__footer">
                                        <a href="/html-css" class="ht-btn ht-btn-default btn--secondary">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel-slider wow move-up">
                                <div class="carousel-slider__content text-center">
                                    <img src="https://img.icons8.com/color/96/000000/javascript.png">
                                    <div class="pricing-table__price-wrap">
                                        <p>Javascript</p>
                                    </div>
                                    <div class="text">
                                        ES6 standartları çərçivəsində Javascript-in dil olaraq bütün xüsusiyyətləri əhatə olunur. Bundan əlavə Javascript kitabxana istehsal etmə məntiqi, 
                                        Javascript frameworklərinin (əsasən React) işləmə fəlsəfəsi və tətbiqi, eyni zamanda bu dilə məxsus köməkçi
                                        alətlərdən istifadə olunması öyrədilir.
                                    </div>
                                    <div class="pricing-table__footer">
                                        <a href="/javascript" class="ht-btn ht-btn-default btn--secondary">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel-slider wow move-up">
                                <div class="carousel-slider__content text-center">
                                    <img src="{% static 'assets/images/timeline/C.png' %}">
                                    <div class="pricing-table__price-wrap">
                                        <p>C#</p>
                                    </div>
                                    <div class="text">
                                        Obyekt yönümlü paradiqmanın ən yaxşı tətbiq olunduğu dillərdən olan C# orta və böyük miqyaslı tətbiqlərin yazıla bilməsi üçün çox münbit bir mühit təmin edir 
                                        (.NET platforması). Bundan əlavə Microsoft-un yeni tətbiq etməyə başladığı multiplatformalı Core
                                        konsepsiyası ilə fərqli platformlar üçün tətbiqlər yazıla bilər.
                                    </div>
                                    <div class="pricing-table__footer">
                                        <a href="/csharp" class="ht-btn ht-btn-default btn--secondary">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel-slider wow move-up">
                                <div class="carousel-slider__content text-center">
                                    <img src="{% static 'assets/images/timeline/php.png' %}">
                                    <div class="pricing-table__price-wrap">
                                        <p>PHP</p>
                                    </div>
                                    <div class="text">
                                        Açıq qaynaqlı və multiplatforma dəstəkli dil olan PHP öyrənməsi rahat, geniş dakumentasiyaya sahib bir dildir. Tələbələr bu dil vasitəsi ilə rahatlıqla veb 
                                        layihələr yaza bilmə qabiliyyətinə və PHP-nin Laravel və digər framework-lərinin işləmə prinsiplərinə
                                        dərindən yiyələnəcəklər.
                                    </div>
                                    <div class="pricing-table__footer">
                                        <a href="/php" class="ht-btn ht-btn-default btn--secondary">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel-slider wow move-up">
                                <div class="carousel-slider__content text-center">
                                    <img src="{% static 'assets/images/timeline/python.png' %}">
                                    <div class="pricing-table__price-wrap">
                                        <p>Python</p>
                                    </div>
                                    <div class="text">
                                        Python hal hazırda dünyada ən çox öyrənilən dillərdən biridir. Bunun səbəbi Python-un çox geniş əhatədə tətbiq edilə bilməsidir. Tələbələr Python Core öyrənməklə 
                                        və veb sahəsində tətbiq etməklə bu dilin digər sahələrdə də istifadəsinə hazır hala gələcəklər.
                                    </div>
                                    <div class="pricing-table__footer">
                                        <a href="/python" class="ht-btn ht-btn-default btn--secondary">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel-slider wow move-up">
                                <div class="carousel-slider__content text-center">
                                    <img src="{% static 'assets/images/timeline/icon-deployment.png' %}">
                                    <div class="pricing-table__price-wrap">
                                        <p>DevSecOps</p>
                                    </div>
                                    <div class="text">
                                        Bu modul daxilində tələbələr, məhsulu istifadəyə hazır hala gətirmə, prosesdə problem yaratmayacaq şəkildə yenilikləri tətbiq etmə və proqram versiyaları 
                                        arasındakı keçidləri zaman itkisi olmadan reallaşdıra bilmə bacarıqlarına yiyələnəcəklər.
                                    </div>
                                    <div class="pricing-table__footer">
                                        <a href="/devsecops" class="ht-btn ht-btn-default btn--secondary">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel-slider wow move-up">
                                <div class="carousel-slider__content text-center">
                                    <img src="{% static 'assets/images/timeline/cybersecurity.png' %}">
                                    <div class="pricing-table__price-wrap">
                                        <p>Cybersecurity</p>
                                    </div>
                                    <div class="text">
                                        İstənilən tətbiq üçün təhlükəsizlik çox əhəmiyyətlidir. Bu səbəbdən tələbələrimiz təyin olunmuş mərhələli tapşırıqları yerinə yetirməklə, 
                                        yazdıqları proqram və tətbiqlərin təhlükəsizliyini təmin edə biləcəklər.
                                    </div>
                                    <div class="pricing-table__footer">
                                        <a href="/cybersecurity" class="ht-btn ht-btn-default btn--secondary">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-9 section-space--mt_50"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="roadmap section-space--ptb_100">
    <div class="container">
        {% load static %}
        <div class="row">
            <div class="col-lg-12">
                <!-- section-title-wrap Start -->
                <div class="section-title-wrap text-center section-space--mb_20">
                    <h3 class="heading">Təhsil planları</h3>
                </div>
                <!-- section-title-wrap Start -->
            </div>
        </div>
    </div>
    <div class="gradation-process-area">
        <div class="pricing-table-content-area">
            <div class="container">
                {% load static %}
                <div class="row pricing-table-one">
                    <div class="col-12 col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6 pricing-table pricing-table--popular">
                        <div class="pricing-table__inner">
                            <div class="pricing-table__header">
                                <h5 class="header">Frontend Development</h5>
                            </div>
                            <div class="pricing-table__body">
                                <ul class="pricing-table__list text-left">
                                    <li><h6 class="heading"><a href="/foundation">Foundation</a></h6></li>
                                    <li><div class="down-arrow"><img src="{% static 'assets/images/svg/down.svg' %}" alt=""></div></li>
                                    <li><h6 class="heading"><a href="/html-css">HTML & CSS</a></h6></li>
                                    <li><div class="down-arrow"><img src="{% static 'assets/images/svg/down.svg' %}" alt=""></div></li>
                                    <li><h6 class="heading"><a href="/javascript">Javascript (React)</a></h6></li>
                                    <li><div class="down-arrow"><img src="{% static 'assets/images/svg/down.svg' %}" alt=""></div></li>
                                    <li><h6 class="heading"><a href="/devsecops">DevSecOps</a></h6></li>
                                    <li><div class="down-arrow"><img src="{% static 'assets/images/svg/down.svg' %}" alt=""></div></li>
                                    <li><h6 class="heading"><a href="/cybersecurity">Cybersecurity for Developers</a></h6></li>
                                </ul>
                                <div class="pricing-table__footer">
                                    <a href="/frontend-development" class="ht-btn  ht-btn-md ">Ətraflı</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6 pricing-table pricing-table--popular">
                        <div class="pricing-table__inner">
                            <div class="pricing-table__header">
                                <h5 class="header">Backend Development</h5>
                            </div>
                            <div class="pricing-table__body">
                                <ul class="pricing-table__list text-left">
                                    <li><h6 class="heading"><a href="/foundation">Foundation</a></h6></li>
                                    <li><div class="down-arrow"><img src="{% static 'assets/images/svg/down.svg' %}" alt=""></div></li>
                                    <li><h6 class="heading"><a class="extra-margin" href="/python">Python (Django)</a> <br> <a class="extra-margin" href="#">PHP (Laravel)</a> <br> <a class="extra-margin" href="#">C# (.NET Core)</a></h6></li>
                                    <li><div class="down-arrow"><img src="{% static 'assets/images/svg/down.svg' %}" alt=""></div></li>
                                    <li><h6 class="heading"><a href="/devsecops">DevSecOps</a></h6></li>
                                    <li><div class="down-arrow"><img src="{% static 'assets/images/svg/down.svg' %}" alt=""></div></li>
                                    <li><h6 class="heading"><a href="/cybersecurity">Cybersecurity For Developers</a></h6></li>
                                    
                                </ul>
                                <div class="pricing-table__footer">
                                    <a href="/backend-development" class="ht-btn  ht-btn-md ">Ətraflı</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="accordion-wrapper section-space--ptb_100">
    <div class="container">
        {% load static %}
        <div class="row">
            <div class="col-lg-12">
                <!-- section-title-wrap Start -->
                <div class="section-title-wrap text-center section-space--mb_20">
                    <h3 class="heading">Sual-Cavab</h3>
                </div>
                <!-- section-title-wrap Start -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="faq-wrapper  section-space--mt_40">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Məzun olduqdan sonra nə əldə edəcəm?<span> <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Təhsil üçün ödədiyin məbləği Pragmatech tərəfindən sənə veriləcək işlərin yerinə yetirilməsi qarşılığında 100% geri qazanacaq və ya işlə təmin olunma zəmanəti əldə edəcəksən.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        İmtahanlar hansı formatda olacaq? <span> <i
                                                class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>İmtahanlar həm nəzəri həm də praktiki imtahanlar formasında olacaq. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Nə vaxtdan maddi gəlir əldə edə bilərəm?<span> <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Foundation modulunu bitirdikdən və tələb olunan imtahanı uğurla keçdikdən sonra sənə verilən işləri təhvil verməklə maddi gəlir əldə etməyə başlayacaqsan.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        İngilis dili biliyim hansı səviyyədə olmalıdır? <span> <i
                                                class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Oxuduğun və dinlədiyin məlumatı asanlıqla başa düşə bilməyin bizim dərsləri rahatlıqla qavraman üçün kifayətdir.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <!-- Start toggles -->
                <div class="toggles-wrapper section-space--mt_40">
                    <div class="faq-wrapper">
                        <div id="faq-toggles">
                            <div class="card">
                                <div class="card-header" id="faq_2">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse" data-target="#faq_two" aria-expanded="false" aria-controls="faq_two">
                                            Təhsil modulları ilə təhsil planları arasındakı fərq nədir?<span> <i
                                                    class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="faq_two" class="collapse" aria-labelledby="faq_2">
                                    <div class="card-body">
                                        <p>Təhsil modulları sənin tamamlamalı olduğun təhsil planlarının tərkib hissəsidir və hər biri ayrı mövzuları əhatə edir.Təhsil planı isə sənin Pragmatech daxilindəki təhsilin üçün yol xəritəsidir.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faq_3">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse" data-target="#faq_three" aria-expanded="false" aria-controls="faq_three">
                                            Müəllimlər kim olacaq? <span> <i
                                                    class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="faq_three" class="collapse" aria-labelledby="faq_3">
                                    <div class="card-body">
                                        <p>Sizin təhsil keyfiyyətiniz Pragmatech tərəfindən təmin olunur. Tədris modullarının hər biri fərqli müəllimlər tərəfindən tədris oluna bilər. Ona görə də sizin hansı müəllimdən dərs alacağınız təhsil prosesi başladıqdan sonra müəyyən olunacaq. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faq_4">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#faq_four" aria-expanded="false" aria-controls="faq_four">
                                            Ödəniş hansı formada olacaq? <span> <i
                                                    class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="faq_four" class="collapse" aria-labelledby="faq_4" data-parent="#faq-toggles">
                                    <div class="card-body">
                                        <p>Ödənişlər aylıq ödəmə formasında olacaq və hər ayın əvvəli ödənilir.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faq_5">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#faq_five" aria-expanded="false" aria-controls="faq_five">
                                            Dərslər hansı dildə tədris olunacaq? <span> <i
                                                    class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="faq_five" class="collapse" aria-labelledby="faq_5" data-parent="#faq-toggles">
                                    <div class="card-body">
                                        <p>Dərslər Azərbaycan dilində tədris olunur. Tədris zamanı istifadə olunan vəsaitlər ingilis dilində olacaq. Buna görə də ingilis dili biliyiniz əhəmiyyətlidir.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End toggles -->
            </div>
        </div>
    </div>
</div>

<!--===========  feature-icon-wrapper  End =============-->
<!--======== Tabs Wrapper Start ======== -->
<div class="tabs-wrapper bg-gray section-space--ptb_100">
    <div class="container">
        {% load static %}
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-wrapper text-center wow move-up">
                    <h3 class="section-title"> Haqqımızda </h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 ht-tab-wrap">
                <div class="tab-content ht-tab__content">

                    <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
                        <div class="tab-history-wrap section-space--mt_40">
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="tab-history-image mt-30">
                                        <div class="single-popup-wrap">
                                            <img class="img-fluid" src="{% static 'assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.jpg' %}" alt="">
                                            <div class="ht-popup-video video-button">
                                                <div class="video-mark">
                                                    <div class="wave-pulse wave-pulse-1"></div>
                                                    <div class="wave-pulse wave-pulse-2"></div>
                                                </div>
                                                <div class="video-button__two">
                                                    <div class="video-play">
                                                        <span class="video-play-icon"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="tab-content-inner  mt-30">
                                        <div class="text mb-30">Pragmatech Təhsil və İnkişaf mərkəzi praqmatik təhsil modelinə əsaslanan tədris şirkətidir.
                                            Praqmatik təhsil modeli nədir? Bu model təhsilin birbaşa iş dünyası ilə inteqrasiasını təmin edərək tələbələrin 
                                            öyrənmə sürətlərini artırılmasını hədəfləyən təhsil modelidir. 

                                            Hədəfimiz tələbələrin təhsilə qoyduqları investisiyanı qısa müddətdə geri qazanma və birbaşa iş dünyasına hazır 
                                            kadr halında məzun olmalarını təmin etməkdir. 
                                            
                                            Pragmatech bu modeli necə tətbiq edir?
                                            
                                            Şirkət daxilində fəaliyyət göstərən proqramçı komandası Pragmatechdə təhsil alan tələbələrlə birbaşa ünsiyyətdədir. 
                                            Tələbələr komandalara ayrılır və hər komanda bir Pragmatech proqramçısı ...
                                            </div>

                                        </ul>

                                        <div class="tab-button">
                                            <a class="btn-text" href="#">
                                                <a href="/about-us" class="button-text">Ətraflı <i
                                                        class="far fa-long-arrow-right"></i></a>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--======== Tabs Wrapper End ======== -->

<div class="feature-images-wrapper bg-gray section-space--ptb_100">
    <div class="container">
        {% load static %}
        <div class="row">
            <div class="col-lg-12">
                <!-- section-title-wrap Start -->
                <div class="section-title-wrap text-center">
                    <h3 class="heading">Qəbul prosesi</h3>
                </div>
                <!-- section-title-wrap Start -->
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="feature-images__one">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-images style-01">
                                <div class="image-box-wrap">
                                    <div class="box-image">
                                        <img class="img-fulid" src="{% static 'assets/images/icons/musahibe.svg' %}" alt="">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">Müsahibə </h5>
                                        <div class="text">Mərkəzimizə müraciət edən şəxslər ilkin olaraq müsahibə nəticəsində dəyərləndiriləcəklər.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>

                        <div class="col-lg-4 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-images style-01">
                                <div class="image-box-wrap">
                                    <div class="box-image">
                                        <img class="img-fulid" src="{% static 'assets/images/icons/ingilis.svg' %}" alt="">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">İngilis dili testi</h5>
                                        <div class="text">Bütün tədris materiallarımız İngilis dilində olduğu üçün, tələbələrimizin minimal texniki İngilis dili bilikləri yoxlanılacaqdır.

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>

                        <div class="col-lg-4 col-md-6 wow move-up">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-images style-01">
                                <div class="image-box-wrap">
                                    <div class="box-image">
                                        <img class="img-fulid" src="{% static 'assets/images/icons/texniki.svg' %}" alt="">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading">Texniki test</h5>
                                        <div class="text">Texniki testin keçirilməsində məqsəd, tələbələrin analiz və məntiq qabiliyyətinin dəyərləndirilməsidir.  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}