{% extends 'pragmatechapp/base.html' %}
{% block content %}
<div class="site-wrapper-reveal">
    {% load static %}
    <div class="about-banner-wrap banner-space bg-img" data-bg="{% static 'assets/images/bg/javascript.jpg' %}">
        <div class="container">
            {% load static %}
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="about-banner-content text-center">
                        <h1 class="mb-15 text-white">Javascript</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-large-images-wrapper section-space--ptb_100">
        {% load static %}
        <div class="container">
            <div class="cybersecurity-about-box">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="fun-fact-wrapper">
                            <div class="container">
                                <div class="fun-fact-grid-12">
                                    <div class="grid-item  wow move-up animated" style="visibility: visible;">
                                        <div class="package-fun fun-fact--one text-center">
                                            <div class="fun-fact__count counter">210</div>
                                            <span class="fun-fact__text">SAAT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="conact-us-wrap-one managed-it">
                            <p class="package-text">ES6 standartları çərçivəsində Javascript-in dil olaraq bütün
                                xüsusiyyətləri əhatə olunur. Bundan əlavə Javascript kitabxana istehsal etmə məntiqi,
                                Javascript frameworklərinin(əsasən React JS) işləmə fəlsəfəsi və tətbiqi, eyni zamanda
                                bu dilə məxsus köməkçi
                                alətlərdən istifadə olunması öyrədilir.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section id="package-syl">
        {% load static %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center section-space--mb_40">
                        <h3 class="heading">Proqrama daxildir</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="second-header">Javascript</div>
                            <div class="card-body-list">
                                <ul class="check-list">
                                    <li class="list-item">Introduction</li>
                                    <li class="list-item">Javascript Fundamentals</li>
                                    <li class="list-item">Efficient Development & Debugging</li>
                                    <li class="list-item">Working with Control Structures (if Statements, Loops, Error
                                        Handling)</li>
                                    <li class="list-item">Behind the Scenes & The (Weird) Past (ES3, ES5) & Present
                                        (ES6+) of JavaScript</li>
                                    <li class="list-item">DOM and Browser basics</li>
                                    <li class="list-item">Classes & Object-oriented Programming (OOP)</li>
                                    <li class="list-item">Constructor Functions & Prototypes</li>
                                    <li class="list-item">Advanced DOM & More Browser APIs</li>
                                    <li class="list-item">Working with Events</li>
                                    <li class="list-item">Advanced Function Concepts</li>
                                    <li class="list-item">Async JavaScript: Promises & Callbacks</li>
                                    <li class="list-item">Working with Http Requests</li>
                                    <li class="list-item">Working with JavaScript Libraries</li>
                                    <li class="list-item">Modular JavaScript (Working with Modules)</li>
                                    <li class="list-item">JavaScript Tooling & Workflows</li>
                                    <li class="list-item">Utilizing Browser Storage</li>
                                    <li class="list-item">JavaScript & Browser Support</li>
                                    <li class="list-item">Working with JavaScript Frameworks</li>
                                    <li class="list-item">Meta-Programming: Symbols, Iterators, Generators, Reflect API
                                        & Proxy API</li>
                                    <li class="list-item">Node.js: An Introduction</li>
                                    <li class="list-item">Security</li>
                                    <li class="list-item">Deploying JavaScript Code</li>
                                    <li class="list-item">Performance & Optimizations</li>
                                    <li class="list-item">Testing</li>
                                    <li class="list-item">Bonus</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="second-header">React JS</div>
                            <div class="card-body-list">
                                <ul class="check-list">
                                    <li class="list-item">Building Content with JSX</li>
                                    <li class="list-item">Communicating with Props</li>
                                    <li class="list-item">Structuring Apps with Class-Based Components</li>
                                    <li class="list-item">State in React Components</li>
                                    <li class="list-item">Understanding Lifecycle Methods</li>
                                    <li class="list-item">Handling User Input with Forms and Events</li>
                                    <li class="list-item">Making API Requests with React</li>
                                    <li class="list-item">Building Lists of Records</li>
                                    <li class="list-item">Using Ref's for DOM Access</li>
                                    <li class="list-item">Integrating React with Redux</li>
                                    <li class="list-item">Async Actions with Redux Thunk</li>
                                    <li class="list-item">Redux Store Design</li>
                                    <li class="list-item">Navigation with React Router</li>
                                    <li class="list-item">Handling Authentication with React</li>
                                    <li class="list-item">Redux DevTools</li>
                                    <li class="list-item">Handling Forms with Redux Form</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="feature-list-button-box mt-30 mb-30 text-center">
                        <a href="#" class="ht-btn ht-btn-md apply-btn">İndi müraciət et</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
{% endblock %}