{% extends 'pragmatechapp/base.html' %}
{% block content %}
<div class="site-wrapper-reveal">
    {% load static %}
    <div class="about-banner-wrap banner-space bg-img" data-bg="{% static 'assets/images/bg/about.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="about-banner-content text-center">
                        <h1 class="mb-15 text-white">Qəbul prosesi</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-icon-wrapper section-space--ptb_100">
        {% load static %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="feature-images__one">
                        <div class="row">

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                src="{% static 'assets/images/icons/musahibe.svg' %}"
                                                alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Müsahibə </h5>
                                            <div class="text">Mərkəzimizə müraciət edən şəxslər ilkin olaraq müsahibə
                                                nəticəsində dəyərləndiriləcəklər.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                src="{% static 'assets/images/icons/ingilis.svg' %}"
                                                alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">İngilis dili testi</h5>
                                            <div class="text">Bütün tədris materiallarımız İngilis dilində olduğu üçün,
                                                tələbələrimizin minimal texniki İngilis dili bilikləri yoxlanılacaqdır.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                src="{% static 'assets/images/icons/texniki.svg' %}"
                                                alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Texniki test</h5>
                                            <div class="text">Texniki testin keçirilməsində məqsəd, tələbələrin analiz
                                                və məntiq qabiliyyətinin dəyərləndirilməsidir.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="feature-list-button-box mt-30 text-center">
                        <a href="#" class="ht-btn ht-btn-md">İndi müraciət et</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===========  feature-icon-wrapper  End =============-->

</div>
{% endblock %}