{% extends 'pragmatechapp/base.html' %}

{% block content %}
<div class="site-wrapper-reveal">
    {% load static %}
    <div class="about-banner-wrap banner-space bg-img" data-bg="{% static 'assets/images/hero/home-appointment-hero-bg-image.jpg' %}">
        {% load static %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="about-banner-content text-center">
                        <h1 class="mb-15 text-white">Üstünlüklər</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-icon-wrapper section-space--ptb_100">
        {% load static %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="feature-list__two">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-1"
                                                data-svg-icon="{% static 'assets/images/svg/linea-basic-heart.svg' %}">
                                                <!-- <img src="{% static 'assets/images/svg/linea-basic-heart.svg' %}" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">İş və maddi gəlir əldə etmə zəmanəti</h5>
                                            <div class="text">Aktiv təhsil planlarından hər hansı birini uğurla başa
                                                vuran bütün tələbələrimiz işlə təmin olunma və ya tədris müddətində
                                                ödədiyi məbləği mərkəz tərəfindən veriləcək olan işləri yerinə
                                                yetirməklə geri əldə
                                                etmə zəmanəti verilir
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <!-- ht-box-icon Start -->
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-3" data-svg-icon="{% static 'assets/images/svg/linea-basic-alarm.svg' %}">
                                                <!-- <img src="{% static 'assets/images/svg/linea-basic-alarm.svg' %}" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Pragmatik təhsil modeli</h5>
                                            <div class="text">
                                                Tələbərimiz tədris zamanı birbaşa iş dünyasında tələb olunan
                                                problemlərinin həlli üzərində işləyərək öyrənəcəklər. Bu model sayəsində
                                                tələbələrimiz artıq şirkətlərdə təcrübəçi olaraq deyil birbaşa təcrübəli
                                                əməkdaş olabilmək kimi ciddi üstünlük əldə edəcəklər.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <!-- ht-box-icon Start -->
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-6" data-svg-icon="{% static 'assets/images/svg/linea-basic-spread-text-bookmark.svg' %}">
                                                <!-- <img src="{% static 'assets/images/svg/linea-basic-spread-text-bookmark.svg' %}" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">İş dünyasına yaxınlıq</h5>
                                            <div class="text">
                                                Mərkəzimizdə mütəmadi olaraq yerli IT şırkətlərinin təqdimatları və
                                                şirkət əməkdaşları ilə görüşlər keçiriləcək.Bu sayədə tələbələrimiz
                                                gələcəkdəki iş mühitləri və əməkdaşları ilə birə bir ünsiyyətdə olma və
                                                onların təcrübələrindən faydalanma şansı əldə
                                                edəcəklər
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-2" data-svg-icon="{% static 'assets/images/svg/linea-basic-case.svg' %}">
                                                <!-- <img src="{% static 'assets/images/svg/linea-basic-case.svg' %}" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Həftəlik əlavə təlimlər</h5>
                                            <div class="text">Proqramçılara əlavə xüsusiyyət və qabiliyyətlər
                                                qazandırmaq məqsədi ilə hər həftənin şənbə günü sektorda təcrübəli olan
                                                insanların iştirakı ilə seminar,workshop və ya əlavə təlimlər təşkil
                                                olunacaq.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <!-- ht-box-icon Start -->
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-4"
                                                data-svg-icon="{% static 'assets/images/svg/linea-basic-geolocalize-05.svg' %}">
                                                <!-- <img src="{% static 'assets/images/svg/linea-basic-geolocalize-05.svg' %}" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">7/24 fəaliyyət göstərən mərkəz</h5>
                                            <div class="text">
                                                Tələbələrimiz zaman məhdudiyyəti olmadan mərkəzimizdən istifadə edə
                                                biləcəklər. Rahat və əyləncəli mühitdə təhsil keyfiyyətlərini artırmaq
                                                çox daha asan olacaq
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <div class="ht-box-icon style-02 single-svg-icon-box">
                                    <!-- ht-box-icon Start -->
                                    <div class="icon-box-wrap">
                                        <div class="icon">
                                            <div class="svg-icon" id="svg-5" data-svg-icon="{% static 'assets/images/svg/linea-ecommerce-money.svg' %}">
                                                <!-- <img src="{% static 'assets/images/svg/linea-ecommerce-money.svg' %}" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">Dəstək komandası</h5>
                                            <div class="text">
                                                Mərkəzimizdə fəaliyyət göstərən proqramçı komandası hər zaman
                                                tələbələrimizin problemlərininin aradan qaldırılması üçün onlara komanda
                                                rəhbərliyi edəcəklər.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="feature-list-button-box mt-30 text-center">
                        <a href="#" class="ht-btn ht-btn-md">İndi müraciət et</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}